.basket-product {
    border: 1px black solid;
    border-radius: 5px;
    padding-bottom: 8px;
    margin-bottom: 5px;
}

.basket-product__close-btn-line {
    text-align: right;
}

.basket-product__close-btn {
    cursor: pointer;
    margin: 0 8px;
}
